/* .App { */
  html, body, #app, #app, .container{
  height: 100%;
  text-align: center;
  /* background-color: midnightblue;
  color:white; */
  width: 100%;
  /* height: 100%; */
  /* height: 1000px; */
}

/* body, html, #root, .app, .container {
  width: 100%;
  height: 100%;
  /* height: 50px; 
  /* height: 1000px; 

} */

#NavBar {
  border: solid;
  border-color: #03173f;
  /* background-color:#03173f ; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#NavBar ul{
  display: flex;
  flex-direction:row;
  justify-content: space-between;
  border: solid;
  width: 400px;
  margin: 10px;
}
#NavBar ul li{
  margin: 30px;
  list-style: none;
  /* width: 0px; */
  border: solid; 
  border-color:steelblue;
}

#logoImg{
  height:100px ;
  /* border:dotted; */
  /* border-color: gray; */
}

/* .signInForm{

  margin-left: 35%;
  width: 500px;
  align-self: center ;
  border: solid;
  display: flex;
  align-items:center;
  flex-direction:column;
}
#signInForm input{
  margin: 10px;
} */

/* #SettingsPage{
  border: solid;
  border-color:orange;
} */

/* #LandingPage{
  border: solid;
  border-color:lime;
} */


/* HomePage */
#HPwrapper{
  border-color: lightseagreen;
  border: solid
}

#HomePage{
  display: flex;
  flex-direction:row;
  justify-content: space-between;
  padding-left: 50px;
  padding-right: 50px; 
}


#accountTable {
  border: solid;
  border-color: red;
}

#listOfTransactions{
  height: 300px;
  width: 450px;
  overflow: scroll;
}

.transaction{
  border: solid;
  border-color: indigo;
}

#transactionWrapper{
  border: solid;
  border-color: blue;
}

#Tbutton{
  height: 50px;
  border: solid;
  border-color:limegreen;
  margin: 10px;
}

#Tbutton input{
  margin: 15px;
}

#listOfTransactions{
  border: solid;
  border-color:orchid;
}



/* Settings Pagee */

#SettingsPageMain{
  border: solid;
  border-color: white;
  display: flex;
  flex-direction:row;
  justify-content: space-around;
  width: 85%;
}

#userInfoDisp{
  border: solid;
  border-color:white;
  width: 45%;
  overflow: scroll;
  display: flex;
  flex-direction:column;
  align-items: center ;
  /* border-width: 1px; */
}
#userInfoDisp, h1{
  border: solid;
  border-width: .25px;
  margin: 10%;
}

#USins{
  font-size: 10px;
  margin-top: -30px; 
}

/* .userTextInput{
 height: 30px;
 width: 250px;
 /* margin-left: 40%; */
/* justify-self: center; }*/


/*.userBtn{
  height: 30px;
  width: 200px;
} */

#accMngmt{
  /* border-color:; */
  width: 300px;
  height: 100%;
  border: dashed;
  display: flex;
  flex-direction:column;
  align-items: center ;
}



/* Sign In form  */


.container {
  font-size: 25px;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color:rgb(40, 111, 158);
  border: solid;
  border-color:#1b2841;
  width: 100%;
  height: 1000px;

}

.signInForm {
 box-sizing: border-box;
 width: 100%;
 max-width: 400px;
 padding-left: 20px;
 padding-right: 20px;

}

.InputField {
 padding-top: 16px;
}

.input {
 box-sizing: border-box;
 outline: none;
 border: solid 2px #1189de;
 border-radius: 4px;
 color: #292929;
 width: 100%;
 padding: 12px;
 font-size: 14px;
 background: rgba(255, 255, 255, 1);

}

.lisb {
 padding-top: 16px;
}


.btn {
 width: 100%;
 min-width: 280px;
 color: #565656;
 padding: 12px;
 font-size: 14px;
 font-weight: bold;
 border: solid 2px #1189de;
 border-radius: 4px;
 background: #fff;
 cursor: pointer;
}

