.App {
  /* display:flex; */
  /* justify-content: center;
  background-color: white; */
}

/* .pages{
  /* background-color:rgb(40, 111, 158);
} */

 #NavBar {
  border: solid;
  border-color: #03173f;
  display: flex;
  flex-direction: row;
  /* justify-content: ; */
} 

#NavBar ul{
  display: flex;
  flex-direction:row;
  justify-content: space-between;
  /* border: solid; */
}
#NavBar ul li{
  margin: 30px;
  list-style: none;
  border: solid; 
  border-color:steelblue;
} 

#logoImg{
  height:100px ;
}

/* HomePage */

#accountBalances{
 display: flex;
 flex-direction: row;
 justify-content: space-evenly;
 width: 80%;
 border: solid;
 /* margin-left: 20%; */
}

#accountBalances li{
  list-style-type: none;
  display:flex;
}

#HPwrapper{
  border-color: lightseagreen;
  border: solid
}

#HomePage{
  display: flex;
  flex-direction:row;
  justify-content: space-between;
  padding-left: 50px;
  padding-right: 50px; 
}


#accountOverview {
  overflow: scroll;
  margin-left: 10%;
  border:solid;

}

#listOfTransactions{
  height: 300px;
  width: 450px;
  overflow: scroll;
  margin-right: 10%;
  border: solid;
}

#transactioncss{
  border: solid;
  border-color: rgb(182, 181, 181);
  border-width: thick;

}

#transactioncss p{
margin-top: -5PX;
margin-bottom: -5PX;
}

#transactionWrapper{
  border: solid;
}

#Tbutton{
  height: 50px;
  border: solid;
  margin: 10px;
}

#Tbutton input{
  margin: 15px;
}



/* Settings Pagee */

#SettingsPageMain{
  border: solid;
  border-color: white;
  display: flex;
  flex-direction:row;
  justify-content: space-around;
  width: 100%;
}

#userInfoDisp{
  border: solid;
  border-color:white;
  width: 45%;
  overflow: scroll;
  display: flex;
  flex-direction:column;
  align-items: center ;
   /* border-width: 1px;  */
} 
#userInfoDisp, h1{
  border: solid;
  border-width: .25px;
  margin: 10%;
}

#USins{
  font-size: 10px;
  margin-top: -30px; 
}

#accMngmt{
  width: 300px;
  height: 100%;
  border: dashed;
  display: flex;
  flex-direction:column;
  align-items: center ;
}

#ahlink {
  font-size: 10px;
  text-decoration: none;
}
#ahlink, #ahlink:visited {
  text-decoration: none; 
  color: white; 
}

#ahlink:hover {
    background-color: teal;
}

Sign In form 

 .container {
  font-size: 25px;
  color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color:rgb(40, 111, 158);
  border: solid;
  border-color:#1b2841;
  height: 1000px;
}

.container p {
  font-size: 20px;

}

.signInForm {
 box-sizing: border-box;
 width: 100%;
 max-width: 400px;
 padding-left: 20px;
 padding-right: 20px;

}

.InputField {
 padding-top: 16px;
}

.input {
 box-sizing: border-box;
 outline: none;
 border: solid 2px #1189de;
 border-radius: 4px;
 color: #292929;
 width: 100%;
 padding: 12px;
 font-size: 14px;
 background: rgba(255, 255, 255, 1);

}

.lisb {
 padding-top: 16px;
}


.btn {
 width: 100%;
 min-width: 280px;
 color: #565656;
 padding: 12px;
 font-size: 14px;
 font-weight: bold;
 border: solid 2px #1189de;
 border-radius: 4px;
 background: #fff;
 cursor: pointer;
}
